.main-view {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.etch-grid {
    height: 500px;
    width: 500px;

    display: grid;

    touch-action: pinch-zoom;
}

.etch-cell {
    border: solid #9b9b9b 1px;
    background-color: white;

    margin-left: -1px;
    margin-bottom: -1px;
}

.etch-cell.filled {
    background-color: gray;
}


.saved-grid {
    height: 200px;
    width: 200px;

    display: grid;
}

.saved-cell.filled {
    background-color: gray;
}