.controls {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.toggle-setting {
    display: flex;
    gap: 4px;
    border: 1px solid black;
    padding: 1px 6px;
    font-size: 0.9em;
    align-items: center;
    border-radius: 6%;
}

.toggle-setting.enabled {
    background-color: #9eff9e;
}

.main-view {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.etch-grid {
    height: 500px;
    width: 500px;

    display: grid;

    cursor: default;
    touch-action: none;
}

.etch-cell {
    border: solid #9b9b9b 1px;
    background-color: white;

    margin-left: -1px;
    margin-bottom: -1px;
}

.etch-cell.filled {
    background-color: gray;
}


.saved-drawings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-drawings h3 {
    margin-top: 0;
}

.saved-grid {
    height: 200px;
    width: 200px;

    display: grid;
}

.saved-cell.filled {
    background-color: gray;
}